/* Login.css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(to right, #4caf50, #8bc34a);  /* Verde campo */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: #fffaf0;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
}

.login-logo {
  width: 200px;
  margin-bottom: 15px;
}

.login-card h2 {
  margin-bottom: 20px;
  color: #3e3e3e;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #4caf50;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: #024804;
  outline: none;
}

.error-message {
  color: #d32f2f;
  margin-top: 10px;
}

.login-button,
.register-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button {
  background-color: #0c7610;
  color: white;
}

.login-button:hover {
  background-color: #35a13a;
}

.register-button {
  background-color: hsl(211, 97%, 47%);
  color: #f4f1f1;
}

.register-button:hover {
  background-color: #0e99de;
}